.brevity {
	background-color: #6B93A7;
	border: solid;
	border-width: 2px;
	padding: 2px;
}

.explain {
	background-color: #85C394;
	border: solid;
	border-width: 2px;
	width: auto;
	height: 25vw;
	padding: 2px;
	margin: 10px;
}

.show {
	width:100%;
	background-color: #85C394;
}

.hit {
	width:100%;
	background-color: #6B93A7;
}

.reset {
	background-color: #8CBE27;
}

.background {
	background-color: #DDD8D4;
}

.first {
	margin-left: 0.001vw;
}

.tblField {
	margin-top: 80px;
}

.title {
	margin: 0 3.5vw;
}

.meniu ul {
	list-style-type: none;
	margin: 5vh 3.5vw;
	padding: 0;
	width: 200px;
}

.meniu ul li a {
	display: block;
	background-color: #85C394;
	color: #000;
	padding: 8px 16px;
	margin: 5px;
	text-decoration: none;
	border: solid;
	border-width: 1px;
}

.meniu ul li a:active {
    background-color: #6B93A7;
    color: white;
}
