.infoField {
	width: 75%;
	float: left;
}

.buttonField {
	float: right;
	width:20%;
}

.hit {
	margin: 5vh 10px 5vh 0;
	padding:3vw;
}

.show {
	margin: 5vh 10px 5vh 0;
	height: 11vw;
}

.ffont {
	font-size: 2.5vw;
}
