.buttonField {
	width:92.5%;
	position:absolute;
	bottom:5vh;
}

.hit {
	float: bottom;
	margin:10vw 0vw 5vw 0vw;
	padding:4.5vw;
}

.show {
	margin:10vw 0vw 5vw 0vw;
	padding:4.5vw;
}

.tblField {
	font-size: 3vw;
}

.ffont {
	font-size: 3.5vw;
}
