<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Brevity buddy</name>
    <description>
        App for Brevity.
    </description>
    <author email="buvomano@yahoo.com" href="http://phonegap.com">
        Zipper
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" width="96" height="96" />
</widget>
